{% extends "base.html" %}
{% block title %}
<href="#about">About</a>
{% endblock title %}

{% block content %}     
       
 <!-- About Section -->
  <section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">College Path Services</h2>
          <hr class="divider light my-4">
          <p class="text-white-50 mb-4">Student will fill out a profile. Then make a appointment with the counselor on the site, to go over your schedule. This will save time, by taking away the pre 15 minutes counseling service. And giving the counselor more one on one with the students. </p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
        </di>
{% endblock content %}
