{% extends "base.html" %}
{% block content %}
 <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Smart College </h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">444 Huntingbird Dr. Oakland CA 94211</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div>(800)222-2222</div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="mailto:contact@yourwebsite.com">info@college.com</a>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
