<!DOCTYPE html>
<html>
<head>
<style>
body {
  background: url("/static/img/class.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 40%; 
}
div {
  background-color:white;
  padding: 20px;
  width: 550px;
  border: 25px solid black;
  
}
h3 {
  font-family: 'Merriweather', serif;
}

</style>
</head>
<body>

<title>Meet a Counselor</title>
<center>
<div><h3>To begin an appointment with a Counselor, fill-out the form below:</h3></d>

    <form action="." method="POST">
        {% csrf_token %}
        {{ form.as_p }}
       <button>Submit form, to continue to calendar</button>
    </form>
    
<em><h2> Stay Focused & Never Give-up</h2></em>
</center>
</body>
</html>


